/cookies.txt
# Dependency directories
/*/node_modules
node_modules/

# Build outputs
/*/dist

#server
/server/.env
/server/todo.md
/server/logs

#client
/client/.DS_Store
/client/dist-ssr
/client/*.local