services:
  server:
    image: ghcr.io/pavle2002/neochef:latest
    ports:
      - "3000:3000"
    env_file:
      - server/.env
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data

volumes:
  redis_data:
