services:
  server:
    image: ghcr.io/pavle2002/neochef:latest
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  import-cron:
    image: ghcr.io/pavle2002/neochef:latest
    command: ["sh", "server/import-cron.sh"]
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
    volumes:
      - import_progress:/app/data

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data

  caddy:
    image: caddy:alpine
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server
    restart: unless-stopped
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  redis_data:
  caddy_data:
  caddy_config:
  import_progress:
